<tr id="<%= offer.advertiser_name %>">
  <td><%= offer.advertiser_name %></td>
  <td><a href="<%= offer.url %>"><%= offer.url %></a></td>
  <td><%= offer.description %></td>
  <td><%= offer.starts_at %></td>
  <td><%= offer.ends_at %></td>
  <td><%= offer.premium %></td>
  <td>
    <%= link_to 'Edit', edit_offer_path(offer) %>
    <%= link_to 'Destroy', offer_path(offer), method: :delete %>
  </td>
</tr>
