<tr id="<%= offer.advertiser_name %>">
  <td><%= offer.advertiser_name %></td>
  <td><a href="<%= offer.url %>"><%= offer.url %></a></td>
  <td><%= offer.description %></td>
  <td><%= offer.starts_at %></td>
  <td><%= offer.ends_at %></td>
  <td><%= offer.state_to_s %>
  <td><%= offer.premium %></td>
  <td>
    <%= link_to 'Edit offer', edit_offer_path(offer) %>
  </td>
  <td>
    <%= link_to "#{offer.opposite_state_to_s} offer", toggle_state_offer_path(offer), method: :post %>
  </td>
  <td>
    <%= link_to 'Destroy offer', offer_path(offer), method: :delete %>
  </td>
</tr>
